@use "../../../app/variables";

%button {
	min-width: 227px;
	min-height: 46px;
	border-style: none;
	border-radius: 0.5rem;
	font-weight: 700;
	cursor: pointer;
}

.button_primary {
	@extend %button;
	color: variables.$white;
	background-color: variables.$purple;

	&:hover {
		background-color: variables.$purple-hover;
	}

	&:disabled {
		background-color: variables.$purple-light;
		cursor: not-allowed;
	}
}

.button_secondary {
	@extend %button;
	border: 1px solid variables.$purple;
	background-color: inherit;
	color: variables.$purple;

	&:hover {
		background-color: variables.$purple-light;
	}

	&:disabled {
		background-color: variables.$purple-light;
		border-color: variables.$purple-hover;
		color: variables.$purple-hover;
		cursor: not-allowed;
	}
}
