@use "../../../app/variables";

.logo {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;

	&__icon {
		background-color: variables.$purple;
		color: variables.$white;
		padding: 0.25rem;
		border-radius: 8px;
		display: flex;
	}

	&__text {
		font-weight: 700;
		font-size: 2rem;
	}
}
