$purple: #633cff;
$purple-hover: #beadff;
$purple-light: #efebff;

$white: #ffffff;

$grey: #737373;
$dark-grey: #333333;
$med-grey: #d9d9d9;
$light-grey: #fafafa;

$red: #ff3939;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
