@use "../variables";

.register_page {
	section:first-of-type {
		margin-top: 3rem;
		margin-bottom: 3rem;

		p {
			color: variables.$grey;
		}
	}

	button {
		margin-top: 2rem;
		margin-bottom: 2rem;
		width: 100%;
	}

	section:last-of-type {
		text-align: center;

		p {
			color: variables.$grey;
		}

		a {
			text-decoration: none;
			color: variables.$purple;
		}
	}
}

.form_textfield {
	margin: 1.5rem 0;
}
